form {
  .form-group.required>label:not(:empty):not(.form-check-label)::after {
    content: ' *';
    color: #ff0000;
  }

  .help-block {
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: #73818f;
    font-size: 0.9em;
  }

  .nav-tabs .nav-link:hover {
    border-bottom: none;
    color: #384c74;
  }

  .select2-container--bootstrap {
    .select2-selection--single {
      padding-top: 8px;
      padding-bottom: 8px;
      min-height: 38px;
    }

    .select2-selection--multiple {
      min-height: 38px;

      .select2-search--inline .select2-search__field {
        min-height: 36px;
      }

      .select2-selection__choice {
        margin-top: 6px;
      }

      .select2-selection__clear {
        margin-top: 8px;
      }
    }
  }
}
